<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>About</title>
 </head>
 <body>
   <h1>This is the about page.</h1>
   <h2>We love them Unicorns.</h2>
   <img src = "http://media.giphy.com/media/xZJZDtrWh2gIo/giphy.gif">
   <a href = "http://sidharths00-pc-15-precollege-se1-aus-072015-1-114153.nitrousapp.com:3000"><div>Home page</div></a>
   <a href = "http://sidharths00-pc-15-precollege-se1-aus-072015-1-114153.nitrousapp.com:3000/about"><div>About page</div></a>
 </body>
</html>