<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Home Page</title>
 </head>
 <body>
   <h1>Welcome to our Site:</h1>
   <h2>Unicorn Trading</h2>
   <form method="POST" action = "/result">
     <input type="text" name="input_string">
     <input type = "submit" value = "submit">
   </form>
   <img src = "http://media3.giphy.com/media/rouf677PcWZdm/giphy.gif">
  <a href = "http://sidharths00-pc-15-precollege-se1-aus-072015-1-114153.nitrousapp.com:3000"><div>Home page</div></a>
  <a href = "http://sidharths00-pc-15-precollege-se1-aus-072015-1-114153.nitrousapp.com:3000/about"><div>About page</div></a>
 </body>
</html>